<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactos</title>
    <link rel="shortcut icon" href="./assets/img/icon.png">
    <link rel="stylesheet" href="./assets/css/contacto.css">
</head>
<body>
    <div id="contenedor">
        <header>
            <nav>
              <img id="img-nav" src="/assets/img/icon.png" alt="">
              <div id="naveg">
               <a class="boton" href="/"> Inicio</a>
               <a class="boton" href="/Contacts"> Contactenos  </a>
              </div>
            </nav>
    <section>
        <article>
            <h2 class="titulo ">Contacto</h2>
            <h3 id="map-til">Sepa en donde ubicarnos</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d75828.3018456454!2d-2.407258!3d53.564293!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487ba64d74889aff%3A0xf64f53c7d422885c!2sCoe%20St%2C%20Bolton%20BL3%206BU%2C%20UK!5e0!3m2!1sen!2sus!4v1679713904776!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </article>

        <article>
            <table>
                <form id="contactform" method="post" action="mailto:erick.rondon5@gmail.com">
                    <tr>
                        <td align="left" style="padding: -100px;">
                            <h3 id="tab-til">Envienos información sobre usted</h3>   
                            <h4>Nombre</h4>
                            <input id="name" type="input" name="nom" required>
                    <br>
                    <br>            
                            <h4>Correo electrónico</h4>                   
                            <input id="correo" type="input" name="correo" required>
                    <br>
                    <br> 
                            <h4>Número de teléfono</h4>
                            <input id="telefono" type="input" name="tel" required>
                    <br>
                    <br> 
                            <h4>Asunto</h4>
                            <input id="subject" type="input" name="sub" required>
                    <br>
                    <br> 
                            <h4>Mensaje</h4>
                            <textarea name="cuadro" id="mensaje" cols="30" rows="5" required></textarea> 
                    <br>    
                    <br> 
                            <input type="submit" value="Enviar">
                        </td>
                    </tr>
                </form>
            </table>
        </article>
        
        <article>
            <div id="anuncio">
            <img id="anun-plant" src="/assets/img/anun.gif" alt="">
          </div>
          </article>
    </section>
    <hr>
    <script src="./js/contacto.js"></script>
</body>
</html>