<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="shortcut icon" href="./assets/img/icon.png">
    <link rel="stylesheet" href="./assets/css/style.css">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="./assets/js/arriba.js"></script>
</head>
<body>
  <span class="ir-arriba" class="material-symbols-outlined">Arriba</span>
    <div id="contenedor">
    <header>
        <nav>
          <img id="img-nav" src="/assets/img/icon.png" alt="">
          <div id="naveg">
           <a class="boton" href="/"> Inicio</a>
           <a class="boton" href="#nosotros"> Nosotros</a>
           <a class="boton" href="#tienda"> Tienda</a>
           <a class="boton" href="#galeria">Galeria</a>
           <a class="boton" href="/Contacts"> Contactenos  </a>
          </div>
        </nav>
       
        <a href="/"></a>
        <div class="wrapper">
         <div class="slider" id="slider">
           <ul class="slides">
             <li class="slide" class="slide-fondo">
               <a href="#">
                 <img src="/assets/img/slide1.jpg" alt="photo 1">
                 <div class="texto1"> Cuidado y Conservación del aire</div>
                  <div class="texto2"> "Sembremos unidos para juntos conservar nuestra salud"</div>
               </a>
             </li>
             <li class="slide" iclass="slide-fondo">
               <a href="#">
                 <img src="/assets/img/slide2.jpg" alt="photo 2">
                
                  <div class="texto1"> Cuidado y Conservación del aire</div>
                  <div class="texto2"> "Sembremos unidos para juntos conservar nuestra salud"</div>
           
               </a>
             </li>
             <li class="slide" class="slide-fondo">
               <a href="#">
                 <img src="/assets/img/slide3.jpg" alt="photo 3">
                 
                 <div class="texto1"> Cuidado y Conservación del aire</div>
                 <div class="texto2"> "Sembremos unidos para juntos conservar nuestra salud"</div>
        
               </a>
             </li>
             <li class="slide" class="slide-fondo">
               <a href="#">
                 <img src="/assets/img/slide4.jpg" alt="photo 4">
           <div class="fondo">
                 <div class="texto1"> Cuidado y Conservación del aire</div>
                 <div class="texto2"> "Sembremos unidos para juntos conservar nuestra salud"</div>
                </div>
               </a>
             </li>
             <li class="slide" class="slide-fondo">
               <a href="#">
                  <img src="/assets/img/slide5.jpg" alt="photo 5">
      
                  <div class="texto1"> Cuidado y Conservación del aire</div>
                  <div class="texto2"> "Sembremos unidos para juntos conservar nuestra salud"</div>
                  
               </a>
             </li>
             <li class="slide" class="slide-fondo">
               <a href="#">
                 <img src="/assets/img/slide6.jpg" alt="photo 1">
                 
   
                 <div class="texto1"> Cuidado y Conservación del aire</div>
                 <div class="texto2"> "Sembremos unidos para juntos conservar nuestra salud"</div>
               
               </a>
             </li>
             <li class="slide" id="slide-fondo">
                 <a href="#">
                   <img src="/assets/img/slide1.jpg" alt="photo 1">
                   <div class="texto1"> Cuidado y Conservación del aire</div>
                  <div class="texto2"> "Sembremos unidos para juntos conservar nuestra salud"</div>
                 </a>
               </li>
           </ul>
         </div>
       </div>
         <article>
          <span id="nosotros"></span>
            <h2 class="titulo ">Nosotros</h2>
           <div id="cont-nos">
           <div class="contenedor-sobre-nosotros">
               <img src="/assets/img/nosotros.png" alt="" class="imagen-about-us">
               <div class="contenido-texto">
               <h3><span>1</span> Misión </h3>
               <p> Nuestra misión es que las personas comprendan la importancia de cada unas de las plantas y entiendan a como cuidar nuestro planeta, hasta con el simple ejercicio de tener unas de estas plantas en tu hermoso hogar. Acompáñanos a hacer un mejor mundo.</p>
               <br>
               <h3><span>2</span> Visión </h3>
               <p>Que esta página sea mundial y que todas las personas sepan como cuidar sus bellas plantas, que en cada hogar halla un hermoso vivero y que sea nuestra página la que logre este pero no sola nacionalmente sin no mundialmente.</p>
               <br>
               <h3><span>3</span> Valores</h3>
               <p>Nuestros valores como empresas:</p>
               <p id="valores">Responsabilidad, Amabilidad, Creatividad, Honestidad y Respeto</p>
               <br>
           </div>
           </div>
         </div>
         </article>
         <article>
          <span id="tienda"></span>
             <h2 class="titulo">Tienda</h2>
             <h3 id="text-tienda">Las plantas más destacadas</h3>
             <div class="big-box">
                 <div class="caja">
                   <img class="plants" src="/assets/img/bromelia.png">
                 </div>
                 <div class="caja-texto">
                   <h4>Bromelia</h4>
                   <p class="precio">Precio: RD$350</p>
                   <button class="caja-boton">Compre ahora</button>
                 </div>

                 <div class="caja">
                   <img class="plants" src="/assets/img/jade.png">
                 </div>
                 <div class="caja-texto">
                   <h4>Árbol de jade</h4>
                     <p class="precio">Precio: RD$400</p>
                   <button class="caja-boton">Compre ahora</button>
                 </div>
             </div>

             <div class="big-box">
                 <div class="caja">
                   <img class="plants" src="/assets/img/aloe.png">
                 </div>
                 <div class="caja-texto">
                   <h4>Aloe vera</h4>
                   <p class="precio">Precio: RD$200</p>
                   <button class="caja-boton">Compre ahora</button>
                 </div>
       
                 <div class="caja">
                   <img class="plants" src="/assets/img/albahaca.png">
                 </div>
                 <div class="caja-texto">
                   <h4>Albahaca</h4>
                   <p class="precio">Precio: RD$150</p>
                   <button class="caja-boton">Compre ahora</button>
                 </div>
             </div>
             
             <div class="big-box">
               
                 <div class="caja">
                   <img class="plants" src="/assets/img/lirio.png">
                 </div>
                 <div class="caja-texto">
                   <h4>Lirio de la paz</h4>
                   <p class="precio">Precio: RD$250</p>
                   <button class="caja-boton">Compre ahora</button>
                 </div>

                 <div class="caja">
                   <img class="plants" src="/assets/img/begonia.png">
                 </div>
                 <div class="caja-texto">
                   <h4>Begonia</h4>
                   <p class="precio">Precio: RD$300</p>
                   <button class="caja-boton">Compre ahora</button>
                 </div>
             </div>
         </article> 
         <article>
          <span id="galeria"></span>
             <h2 class="titulo">Galeria</h2>
             <div id="fondo-gal">
             <div class="content-all">
               <div class="content-carrousel">
                   <figure><img src="/assets/img/Imagen1.jpeg"></figure>
                   <figure><img src="/assets/img/Imagen2.jpeg"></figure>
                   <figure><img src="/assets/img/Imagen3.jpeg"></figure>
                   <figure><img src="/assets/img/Imagen4.jpeg"></figure>
                   <figure><img src="/assets/img/Imagen5.jpeg"></figure>
                   <figure><img src="/assets/img/Imagen6.jpeg"></figure>
                   <figure><img src="/assets/img/Imagen7.jpeg"></figure>
                   <figure><img src="/assets/img/Imagen8.jpeg"></figure>
                   <figure><img src="/assets/img/Imagen9.jpeg"></figure>
                   <figure><img src="/assets/img/Imagen10.jpeg"></figure>
               </div>
           </div>
          </div>
            </article>

            <article>
              <div id="anuncio">
              <img id="anun-cola" src="/assets/img/cola.gif" alt="">
            </div>
            </article>
     </section>
   </div>  
   
                  
</body>
</html>